{{#if isEditing}}
  <button {{action 'doneEditing'}} class='btn btn-primary pull-right'>Done</button>
  {{partial 'post/edit'}}
  {{else}}
  <button {{action 'edit'}} class='btn btn-default pull-right'>Edit</button>
{{/if}}

<h1>{{title}}</h1>
<h2>by {{author}} <small class='muted'>({{date publishedAt}})</small></h2>

<hr>

<div class='intro'>
  {{markdown intro}}
</div>

<div class='below-the-fold'>
  {{markdown extended}}
</div>
